# Secretos
*.key
*.pem
*.p12
*.pfx
*.keytab
*.stash
*.secret
*.password

# Bases y datos privados
private/
secrets/
pki/ca/private/
kerberos/database/

#Resultsados temporales
results/raw/*.tmp
*.log

#Sistema
.DS_Store
Thumbs.db


# Kerberos KDC: secretos y bases
kerberos/**/stash
kerberos/**/principal
kerberos/**/principal.*
kerberos/**/replica_datatrans
kerberos/**/replica_datatrans.*
*.dump

# Portal web: credenciales
web/**/*.keytab
web/**/web-reader.json
web/**/web-reader.password
web/**/*.key
http-web.keytab

# Portal web: credenciales
web/**/*.keytab
web/**/web-reader.json
web/**/web-reader.password
web/**/*.key
http-web.keytab
